*, ::before, ::after{
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
    color: inherit;
    
}
a:hover{
    color: inherit;
}
.title{
    font-weight: bold;
    font-style: italic;
}
.nav-bar{
    background-color: white;
    display: flex;
    justify-content: space-around;
    font-size: 1.8rem;
    font-weight: bold;
    width: 100%;
    height: 10vh;
    align-items: center;
    box-shadow: 1px 1px 5px rgb(231, 230, 230);
}
.link{
display: flex;
width: 50%;
justify-content: space-between;
align-items: center;
}
.body{
    top: 12vh;
    text-align: center;
}
.divider{
    display: grid;
    grid-template-columns: 2fr 4fr;
    row-gap: 1vh;
    column-gap: 1fr;
}
.galerie{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0.5vh;
    row-gap: 1vh;
}
.galerie img{
    max-width: 20vw;
}
.presenter{
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-style: oblique;
}