<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css">
    <title>Galerie</title>
</head>
<body>
    <nav class="nav-bar">
        <div class="logo">Node JS</div>
        <div class="link">
            <a href="/accueil">Accueil</a>
            <a href="/about">About</a>
            <a href="/galerie">Galerie</a>
        </div>
       
    </nav>
    <div class="body">
        <h1 class="title">Galerie</h1>
        <div class="divider">
            <div class="presenter">Galerie Open Source</div>
            <div class="galerie">
                <img src="/img" alt="">
                <img src="/img" alt="">
                <img src="/img" alt="">
                <img src="/img" alt="">
                <img src="/img" alt="">
                <img src="/img" alt="">
            </div>
        </div>
    </div>
   
</body>
</html>