<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css">
    <title>Galerie</title>
</head>
<body>
    <nav class="nav-bar">
        <div class="logo">Node JS</div>
        <div class="link">
            <a href="/accueil">Accueil</a>
            <a href="/about">About</a>
            <a href="/galerie">Galerie</a>
        </div>
       
    </nav>
    <h1 class="title">Galerie</h1>
</body>
</html>